<div class="home-container">
 <div class="row">
  <div class="col-md-3 col-xs-6">
      <a href="#/quiz" class="btn btn-sq-lg btn-primary center-block">
        <span class="glyphicon glyphicon-pencil" id="home-button-glyph"></span>
        <h3 class="center-block" id="home-button-text">
          שאלונים
        </h3>
      </a>
    </div>

    <div class="col-md-3 col-xs-6">
      <a href="#/solutions" class="btn btn-sq-lg btn-primary center-block">
        <span class="glyphicon glyphicon-ok center-block" id="home-button-glyph"></span>
        <h3 class="center-block" id="home-button-text">
          פתרונות
        </h3>
      </a>
    </div>

    <div class="col-md-3 col-xs-6">
      <a href="#" class="btn btn-sq-lg btn-primary center-block">
        <span class="glyphicon glyphicon-user" id="home-button-glyph"></span>
        <h3 class="center-block" id="home-button-text">
          פרופיל
        </h3>
      </a>
    </div>

    <div class="col-md-3 col-xs-6">
      <a href="#" class="btn btn-sq-lg btn-primary center-block">
        <span class="glyphicon glyphicon-signal center-block" id="home-button-glyph"></span>
        <h3 class="center-block" id="home-button-text">
          סטטיסטיקה
        </h3>
      </a>
    </div>
 </div>
</div>