<div class="container" ng-hide="failure">

    <div class="row" style="margin-bottom:15px;">
      <div class="col-xs-10 pull-right">
        <h2>עיון בתשובה</h2>
        <p>שאלה מסוג: {{solution.question.qtype}}</p>
        <p>תשובה התקבלה בתאריך: {{solutionDate}}</p>
        <p>שם הפותר: {{solution.solver.name}}</p>
      </div>
      <div class="col-xs-2">
        <a href="#/students_solutions/{{questionnaire_id}}/{{question._id}}" class="btn btn-primary btn-sq-action pull-left">
        <span class="glyphicon glyphicon-arrow-left" id="action-button-glyph"></span>
        <h5 style="margin-top: 3px;">חזרה</h5>
      </a>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <h2>{{qbody}}</h2>
    </div>
  </div>

  <div class="row">
     <div class="col-xs-12 text-center">
      <h4>במסגרת הבאה מופיעה השאלה והתשובה שהתקבלה מהמורה</h4>
     </div>
  </div>

  <div class="row">
  <div style="margin: 0 auto; width:45%;">
   <div class="col-md-6 col-xs-6 width-250 no-padding">
    <div class="panel-heading list-panel-heading card-matching-list-header text-center">
      {{list1}}
    </div>
    <div class="panel-body no-padding">
      <ul style="min-height: 111px; padding-right: 0px;">
        <li ng-repeat="item in solutionModels.lists.A"
              class="center-block text-center cstm-draggable-card">
                <span class="center-block cstm-card-mathjax" ng-show="item.type == 'text'" mathjax-bind="item.data.content"></span>
                <div class="center-block text-center" ng-show="item.type == 'function'" id="plot-A-{{$index}}" style="height: 250px; width:250px;"></div>
          </li>
      </ul>
    </div>
  </div>  
  <div class="col-md-6 col-xs-6 width-250 no-padding">
    <div class="panel-heading list-panel-heading card-matching-list-header text-center">{{list2}}</div>
    <div class="panel-body no-padding">
      <ul style="min-height: 111px; padding-right: 0px;">
        <li ng-repeat="item in solutionModels.lists.B"
              class="center-block text-center cstm-draggable-card">
                <span class="center-block cstm-card-mathjax" ng-show="item.type == 'text'" mathjax-bind="item.data.content"></span>
                <div class="center-block text-center" ng-show="item.type == 'function'" id="plot-B-{{$index}}" style="height: 250px; width:250px;"></div>
          </li>
      </ul>
    </div>
   </div>
  </div>
</div>





<div class="row">
  <div class="col-xs-12 text-center">
  <h4>במסגרת הבאה מופיעה התשובה שהתקבלה מהתלמיד</h4>
  </div>
  </div>

  <div class="row">
  <div style="margin: 0 auto; width:45%;">
  <div class="col-md-6 col-xs-6 width-250 no-padding">
  <div class="panel-heading list-panel-heading card-matching-list-header text-center">
  {{list1}}
  </div>
  <div class="panel-body no-padding">
    <ul style="min-height: 111px; padding-right: 0px;">
      <li ng-repeat="item in answerModels.lists.A"
            class="center-block text-center cstm-draggable-card">
              <span class="center-block cstm-card-mathjax" ng-show="item.type == 'text'" mathjax-bind="item.data.content"></span>
              <div class="center-block text-center" ng-show="item.type == 'function'" id="plot-answer-A-{{$index}}" style="height: 250px; width:250px;"></div>
        </li>
    </ul>
  </div>
  </div>  
  <div class="col-md-6 col-xs-6 width-250 no-padding">
  <div class="panel-heading list-panel-heading card-matching-list-header text-center">{{list2}</div>
  <div class="panel-body no-padding">
  <ul style="min-height: 111px; padding-right: 0px;">
    <li ng-repeat="item in answerModels.lists.B"
          class="center-block text-center cstm-draggable-card">
            <span class="center-block cstm-card-mathjax" ng-show="item.type == 'text'" mathjax-bind="item.data.content"></span>
            <div class="center-block text-center" ng-show="item.type == 'function'" id="plot-answer-B-{{$index}}" style="height: 250px; width:250px;"></div>
      </li>
  </ul>
  </div>
  </div>
  </div>


  <div class="row">
  <div class="col-xs-12">
    <h3>הערה לתלמיד</h3>
    <p>הזן בשדה הבא הערה לתלמיד</p>
    <textarea rows="5" id="answer-body" ng-model="teacherComment" placeholder="גוף ההערה"></textarea>
  </div>
 </div>

  <div class="row" style="margin-bottom:15px; margin-top:15px;">
    <div class="col-md-6">
      <a href="#/students_solutions/{{questionnaire_id}}/{{question._id}}" class="btn btn-primary btn-sq-action pull-left">
        <span class="glyphicon glyphicon-arrow-left" id="action-button-glyph"></span>
        <h5 style="margin-top: 3px;">חזרה</h5>
      </a>
      </div>
      <div class="col-md-6">
      <button class="btn btn-success btn-sq-action pull-right" ng-click="sendComment()">
        <span class="glyphicon glyphicon-ok" id="action-button-glyph"></span>
        <h5 style="margin-top: 3px;">שלח הערה</h5>
      </button>
    </div>
  </div>

</div>





<div class="container" ng-show="failure && dataLoaded">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-12">
      <div class="alert alert-danger">
        {{message}}
        <a href="#/solutions/{{question.questionnaire.id}}">
          חזרה
      </a>
      </div>
    </div>
  </div>
</div>