<!--div style="direction: ltr;">
 {{question | json}}
</div-->
<div class="container">
  <div class="row">
    <div class="col-xs-6 pull-right">
      <h2>שאלה פתוחה</h2>
      <p>יש להזין גוף שאלה.</p>
      <p>ניתן להוסיף גרפים של פונקציות.</p>
    </div>
    <div class="col-xs-6 pull-left">
      <a href="#/questionnaires/{{questionnaire_id}}" class="btn btn-primary btn-sq-action pull-left">
        <span class="glyphicon glyphicon-arrow-left" id="action-button-glyph"></span>
        <h5 style="margin-top: 3px;">חזרה</h5>
      </a>
    </div>
  </div>
	<div class="row">
		<div class="col-xs-12">
			<form>
				<form>
			    <div class="form-group">
			  	  <div for="question-body">
			  	  	<h3>גוף השאלה</h3>
			  	  </div>
						<textarea rows="5" id="question-body" ng-model="question.body" placeholder="הזן כאן גוף השאלה" name="question-body"></textarea>
						<div for="question-graphs">
			  	  	<h3>שרטוט גרפים מצורפים לשאלה</h3>
			  	  </div>
						<div ng-repeat="equation in question.publicdata.equations.equationsArray track by $index" for="{{equation}}" name="question-graphs">
						 	<input type="text" ng-model="equation.equation" placeholder="הזן משוואה. דוגמה: x+y">
						 	<input type="text" ng-model="equation.equationComment" placeholder="כותרת לגרף">
						 	<select ng-model="equation.equationType">
						 		<option value="fn">רגילה</option>
						 		<option value="im">סתומה</option>
						 	</select>
						 	<button class="btn btn-danger btn-xs" ng-click="deleteGraph($index)" id="delete-multi-option-btn"><span class="glyphicon glyphicon-trash"></span></button>
				 		</div>
				 	</div>
				</form>
			</div>
		</div>



<!--hr>
 Upload File:
 
 <form>
   <input type="file" nv-file-select="fileSelected($files)" accept="'image/*'">
   <input type="submit" ng-click="uploadFile()" >
 </form-->


<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-md btn-primary" ng-click="addGraph()">
		 <span class="glyphicon glyphicon-plus" id="multi-new-option-glyph"></span>
		 <h5 class="center-block" >הוסף גרף</h5>
		</button>
		<button class="btn btn-md btn-primary" ng-click="commitQuestion()">
		 <span class="glyphicon glyphicon-floppy-save" id="open-save-question-glyph"></span>
		 <h5 class="center-block">שמור שאלה</h5>
		</button>
		
	</div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <h3>תצוגה מקדימה</h3>
    <p>
      תצוגה מקדימה של השאלה. האופן שתוצג בו השאלה לפותר.
    </p>
  </div>
 </div>
 <div class="row">
  <div class="col-md-12 col-xs-12 pull-right">
    <button class="btn btn-md btn-primary" ng-click="refreshPreview()" id="refresh-preview-multi"><span class="glyphicon glyphicon-refresh"></span>
      <h5>רענון תצוגה</h5>
    </button>
    <p>
      על מנת לראות שינויים שבוצעו בשרטוטי פונקציות בתצןגה המקדימה, יש ללחוץ על כפתור רענון התצוגה.
    </p>
  </div>
 </div>
<div class="row">
	<div class="col-xs-12">
		<div class="preview-container">
			<h4>
				<span mathjax-bind="question.body"></span>
			</h4>
			<h4 ng-hide="question.publicdata.equations.equationsArray[0].equation.length==0">גרפים</h4>
			<div ng-hide="question.publicdata.equations.equationsArray[0].equation.length==0" class="graphs-preview" ng-repeat="equation in question.publicdata.equations.equationsArray track by $index" for="{{equation}}" style="display: inline;">
				<div class="graph-title"><h3>{{equation.equationComment}}</h3></div>
				<div id="plot-{{$index}}" style="height: 250px; width:250px;"></div>
			</div> 
		</div>
	</div>
</div>


